alabaster==0.7.13
Babel==2.12.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
docutils==0.19
docxbuilder==1.2.0
fonttools==4.39.4
freetype-py==2.3.0
fspath==20230218
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
Jinja2==3.1.2
kiwisolver==1.4.4
linuxdoc==20230506
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mlx.traceability==10.0.0
natsort==8.3.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pycairo==1.23.0
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.8
PyYAML==6.0
reportlab==4.0.0
requests==2.30.0
rlPyCairo==0.2.0
rst2pdf==0.100
six==1.16.0
smartypants==2.0.1
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinx-multiproject==1.0.0rc1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-traceability==0.1.4
urllib3==2.0.2
zipp==3.15.0
